<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Новый сотрудник</title>
</head>
<body>
<table border="1">
    <tr>
        <th width = "190"><a href="/">Главная страница</a></th>
        <th width = "190"><a href="/employees">Список сотрудников</a></th>
    </tr>
</table>
<hr/>
<h2>Добавление сотрудника</h2>
<hr/>

<form action="response">
    Имя: <input type="text" name="firstName"/><br/>
    Фамилия: <input type="text" name="lastName"/><br/>
    <input type="submit" value="Создать"/>
</form>
<hr/>

</body>
</html>