<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Отпуск запланирован</title>
</head>
<body>
<table border="1">
    <tr>
        <th width = "190"><a href="/">Главная страница</a></th>
        <th width = "190"><a href="/employees">Список сотрудников</a></th>
        <th width = "190"><a href="/employee/request">Добавить сотрудника</a></th>
    </tr>
</table>
<hr/>
<p th:text="'Отпуск запланирован на даты с ' + ${startDate} + ' по ' + ${endDate} + '!'" />
<hr/>

</body>
</html>